# Agrégation des jeux de données

Pour commencer, je vais créer deux jeux de données séparer pour y voir plus clair en fonction des hypothèses posées précédemment:
1. Un jeu regroupant les features qui m'intéressent des tables "Customers", Orders", Order_reviews" basé sur "Orders"
2. Un jeu regroupant les features qui m'intéressent des tables "Order_items", "Sellers", "Products" basé sur "Order_items"

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

pd.set_option("display.max_columns", None)

customers_datas = pd.read_csv("olist_customers_dataset.csv")
geolocation_datas = pd.read_csv("olist_geolocation_dataset.csv")
order_items_datas = pd.read_csv("olist_order_items_dataset.csv", parse_dates=[4])
order_payments_datas = pd.read_csv("olist_order_payments_dataset.csv")
order_reviews_datas = pd.read_csv("olist_order_reviews_dataset.csv", parse_dates=[5,6])
orders_datas = pd.read_csv("olist_orders_dataset.csv", parse_dates=[3, 4, 5, 6, 7])
products_datas = pd.read_csv("olist_products_dataset.csv")
sellers_datas = pd.read_csv("olist_sellers_dataset.csv")


### Premier jeu de données

In [2]:
ord_datas = orders_datas.copy()
ord_datas

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18 19:28:06,2017-11-18 19:45:59,2017-11-22 13:39:59,2017-12-02 00:28:42,2017-12-15
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2018-02-13 21:18:39,2018-02-13 22:20:29,2018-02-14 19:46:34,2018-02-16 18:17:02,2018-02-26
...,...,...,...,...,...,...,...,...
99436,9c5dedf39a927c1b2549525ed64a053c,39bd1228ee8140590ac3aca26f2dfe00,delivered,2017-03-09 09:54:05,2017-03-09 09:54:05,2017-03-10 11:18:03,2017-03-17 15:08:01,2017-03-28
99437,63943bddc261676b46f01ca7ac2f7bd8,1fca14ff2861355f6e5f14306ff977a7,delivered,2018-02-06 12:58:58,2018-02-06 13:10:37,2018-02-07 23:22:42,2018-02-28 17:37:56,2018-03-02
99438,83c1379a015df1e13d02aae0204711ab,1aa71eb042121263aafbe80c1b562c9c,delivered,2017-08-27 14:46:43,2017-08-27 15:04:16,2017-08-28 20:52:26,2017-09-21 11:24:17,2017-09-27
99439,11c177c8e97725db2631073c19f07b62,b331b74b18dc79bcdf6532d51e1637c1,delivered,2018-01-08 21:28:27,2018-01-08 21:36:21,2018-01-12 15:35:03,2018-01-25 23:32:54,2018-02-15
99440,66dea50a8b16d9b4dee7af250b4be1a5,edb027a75a1449115f6b43211ae02a24,delivered,2018-03-08 20:57:30,2018-03-09 11:20:28,2018-03-09 22:11:59,2018-03-16 13:08:30,2018-04-03

In [3]:
ord_datas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 8 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   order_id                       99441 non-null  object
 1   customer_id                    99441 non-null  object
 2   order_status                   99441 non-null  object
 3   order_purchase_timestamp       99441 non-null  datetime64[ns]
 4   order_approved_at              99281 non-null  datetime64[ns]
 5   order_delivered_carrier_date   97658 non-null  datetime64[ns]
 6   order_delivered_customer_date  96476 non-null  datetime64[ns]
 7   order_estimated_delivery_date  99441 non-null  datetime64[ns]
dtypes: datetime64[ns](5), object(3)
memory usage: 6.1+ MB

In [4]:
customers_datas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 5 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   customer_id               99441 non-null  object
 1   customer_unique_id        99441 non-null  object
 2   customer_zip_code_prefix  99441 non-null  int64
 3   customer_city             99441 non-null  object
 4   customer_state            99441 non-null  object
dtypes: int64(1), object(4)
memory usage: 3.8+ MB

In [5]:
order_reviews_datas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 7 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   review_id                100000 non-null  object
 1   order_id                 100000 non-null  object
 2   review_score             100000 non-null  int64
 3   review_comment_title     11715 non-null   object
 4   review_comment_message   41753 non-null   object
 5   review_creation_date     100000 non-null  datetime64[ns]
 6   review_answer_timestamp  100000 non-null  datetime64[ns]
dtypes: datetime64[ns](2), int64(1), object(4)
memory usage: 5.3+ MB

Lorsque j'ai voulu agréger les deux jeux de données plus bas, je me suis rendu compte qu'il y avait des créations d'individus que je n'expliquais pas sauf en cas de doublons parmis les valeur de la feature "order_id" du jeu "ord_datas". En investiguant plus loin , il s'avère que les doublons proviennent de l'unification des jeux "ord_datas" et "order_reviews_datas" car une même commande peut avoir plusieurs notes et commentaires qui varient au cours du temps (d'où la ligne de code ci-dessous pour mettre cette hypothèse en évidence).

Je vais donc ajouter la feature "review_creation_date" de "order_reviews_datas" en plus de "review_score" pour me faire une idée des évolutions des scores en fonction du temps. Cela pourra aussi me servir pour définir les périodes de mises à jour de la segmentation.

In [6]:
order_reviews_datas.loc[order_reviews_datas["order_id"] == order_reviews_datas["order_id"].value_counts().reset_index().iloc[0, 0], :]

,review_id,order_id,review_score,review_comment_title,review_comment_message,review_creation_date,review_answer_timestamp
8329,b04ed893318da5b863e878cd3d0511df,03c939fd7fd3b38f8485a0f95798f1f6,3,NaN,Um ponto negativo que achei foi a cobrança de ...,2018-03-20,2018-03-21 02:28:23
51931,f4bb9d6dd4fb6dcc2298f0e7b17b8e1e,03c939fd7fd3b38f8485a0f95798f1f6,4,NaN,NaN,2018-03-29,2018-03-30 00:29:09
70005,405eb2ea45e1dbe2662541ae5b47e2aa,03c939fd7fd3b38f8485a0f95798f1f6,3,NaN,Seria ótimo se tivesem entregue os 3 (três) pe...,2018-03-06,2018-03-06 19:50:32

Introduction des id uniques des clients ~~et des notes clients.~~

*** Par la suite, j'ai été confronté au fléau de la dimensionalité en ce qui concerne la géolocalisation des vendeurs. J'ai choisi d'utiliser la feature associée aux états. Par souci de cohérence parmis les données, je vais donc introduire les états plutôt que les zipcodes ***

In [7]:
ord_datas = ord_datas.merge(customers_datas[["customer_id", "customer_unique_id", "customer_state"]], on="customer_id")

Comme défini plus bas, pour une meilleur appréhension du jeu de données je n'ajoute pas "order_reviews_datas" finalement et le garde de côté pour plus tard.

In [8]:

# ord_datas = ord_datas.merge(order_reviews_datas[["order_id", "review_score", "review_creation_date"]], on="order_id")

In [9]:
ord_datas.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 99441 entries, 0 to 99440
Data columns (total 10 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   order_id                       99441 non-null  object
 1   customer_id                    99441 non-null  object
 2   order_status                   99441 non-null  object
 3   order_purchase_timestamp       99441 non-null  datetime64[ns]
 4   order_approved_at              99281 non-null  datetime64[ns]
 5   order_delivered_carrier_date   97658 non-null  datetime64[ns]
 6   order_delivered_customer_date  96476 non-null  datetime64[ns]
 7   order_estimated_delivery_date  99441 non-null  datetime64[ns]
 8   customer_unique_id             99441 non-null  object
 9   customer_state                 99441 non-null  object
dtypes: datetime64[ns](5), object(5)
memory usage: 8.3+ MB

In [10]:
ord_datas = ord_datas.drop(columns="customer_id")
cols = ord_datas.columns.tolist()
cols = [cols[0]] + [cols[2]] + cols[-2:] + [cols[1]] + cols[3: -2]
ord_datas = ord_datas[cols]

In [11]:
ord_datas.head(10)

,order_id,order_purchase_timestamp,customer_unique_id,customer_state,order_status,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,e481f51cbdc54678b7cc49136f2d6af7,2017-10-02 10:56:33,7c396fd4830fd04220f754e42b4e5bff,SP,delivered,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18
1,53cdb2fc8bc7dce0b6741e2150273451,2018-07-24 20:41:37,af07308b275d755c9edb36a90c618231,BA,delivered,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13
2,47770eb9100c2d0c44946d9cf07ec65d,2018-08-08 08:38:49,3a653a41f6f9fc3d2a113cf8398680e8,GO,delivered,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04
3,949d5b44dbf5de918fe9c16f97b45f8a,2017-11-18 19:28:06,7c142cf63193a1473d2e66489a9ae977,RN,delivered,2017-11-18 19:45:59,2017-11-22 13:39:59,2017-12-02 00:28:42,2017-12-15
4,ad21c59c0840e6cb83a9ceb5573f8159,2018-02-13 21:18:39,72632f0f9dd73dfee390c9b22eb56dd6,SP,delivered,2018-02-13 22:20:29,2018-02-14 19:46:34,2018-02-16 18:17:02,2018-02-26
5,a4591c265e18cb1dcee52889e2d8acc3,2017-07-09 21:57:05,80bb27c7c16e8f973207a5086ab329e2,PR,delivered,2017-07-09 22:10:13,2017-07-11 14:58:04,2017-07-26 10:57:55,2017-08-01
6,136cce7faa42fdb2cefd53fdc79a6098,2017-04-11 12:22:08,36edbb3fb164b1f16485364b6fb04c73,RS,invoiced,2017-04-13 13:25:17,NaT,NaT,2017-05-09
7,6514b8ad8028c9f2cc2374ded245783f,2017-05-16 13:10:30,932afa1e708222e5821dac9cd5db4cae,RJ,delivered,2017-05-16 13:22:11,2017-05-22 10:07:46,2017-05-26 12:55:51,2017-06-07
8,76c6e866289321a7c93b82b54852dc33,2017-01-23 18:29:09,39382392765b6dc74812866ee5ee92a7,RS,delivered,2017-01-25 02:50:47,2017-01-26 14:16:31,2017-02-02 14:08:10,2017-03-06
9,e69bfb5eb88e0ed6a785585b27e16dbf,2017-07-29 11:55:02,299905e3934e9e181bfb2e164dd4b4f8,SP,delivered,2017-07-29 12:05:32,2017-08-10 19:45:24,2017-08-16 17:14:30,2017-08-23

Je vais vérifier l'intérêt de la feature "order_status"

Je peux créer deux features:
1. Le temps entre l'achat et la livraison
2. Si la date de livraison dépasse la date estimée ou pas

Après la prise en compte de la feature "review_creation_date", je peux aussi ajouter une feature "review_before_delivering" valant True si le commentaire date d'avant la livraison et False dans le cas contraire.

In [12]:
ord_datas["order_status"].value_counts()

delivered      96478
shipped         1107
canceled         625
unavailable      609
invoiced         314
processing       301
created            5
approved           2
Name: order_status, dtype: int64

La feature "order_status peut éventuellement être intérerssante à corréler aux notes clients

In [13]:
ord_datas["delivering_time"] = (ord_datas["order_delivered_customer_date"] - ord_datas["order_approved_at"]).apply(lambda x: x.days)
ord_datas["delivered_before_time"] = ord_datas["order_delivered_customer_date"] < ord_datas["order_estimated_delivery_date"]
# ord_datas["review_before_delivering"] = ord_datas["order_delivered_customer_date"] > ord_datas["review_creation_date"]

In [14]:
ord_datas.head()

,order_id,order_purchase_timestamp,customer_unique_id,customer_state,order_status,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,delivering_time,delivered_before_time
0,e481f51cbdc54678b7cc49136f2d6af7,2017-10-02 10:56:33,7c396fd4830fd04220f754e42b4e5bff,SP,delivered,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18,8.0,True
1,53cdb2fc8bc7dce0b6741e2150273451,2018-07-24 20:41:37,af07308b275d755c9edb36a90c618231,BA,delivered,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13,12.0,True
2,47770eb9100c2d0c44946d9cf07ec65d,2018-08-08 08:38:49,3a653a41f6f9fc3d2a113cf8398680e8,GO,delivered,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04,9.0,True
3,949d5b44dbf5de918fe9c16f97b45f8a,2017-11-18 19:28:06,7c142cf63193a1473d2e66489a9ae977,RN,delivered,2017-11-18 19:45:59,2017-11-22 13:39:59,2017-12-02 00:28:42,2017-12-15,13.0,True
4,ad21c59c0840e6cb83a9ceb5573f8159,2018-02-13 21:18:39,72632f0f9dd73dfee390c9b22eb56dd6,SP,delivered,2018-02-13 22:20:29,2018-02-14 19:46:34,2018-02-16 18:17:02,2018-02-26,2.0,True

Je ne pense plus avoir besoin des features "order_approved_at", "order_delivered_carrier_date", "order_delivered_customer_date", "order_estimated_delivery_date".

In [15]:
ord_datas = ord_datas.drop(columns=["order_approved_at", "order_delivered_carrier_date", "order_delivered_customer_date", 
    "order_estimated_delivery_date"])

~~L'intuition me suggère que ça pourra peut-être m'aider d'avoir les coordonnées gps le moment venu. Je vais donc les ajouter au jeu de données. Cependant, comme vu précédemment, il y a des doublons. Je vais donc faire la moyenne des coordonnées gps en fonction du code postal.~~

In [16]:
# zipcode_gps = geolocation_datas.groupby("geolocation_zip_code_prefix").mean().reset_index()

In [17]:
# zipcode_gps.info()

In [18]:
# zipcode_gps = zipcode_gps.rename(columns={"geolocation_zip_code_prefix": "zipcode"})
# ord_datas = ord_datas.rename(columns={"customer_zip_code_prefix": "zipcode"})

In [19]:
# ord_datas = ord_datas.merge(zipcode_gps[["zipcode", "geolocation_lat", "geolocation_lng"]], how="left", on="zipcode")

In [20]:
# ord_datas.columns.tolist()

In [21]:
# cols = ord_datas.columns.tolist()
# cols = cols[:3] + cols[4:-2] + [cols[3]] + cols[-2:]
# ord_datas = ord_datas[cols]

In [22]:
# ord_datas = ord_datas.rename(columns={"zipcode": "customer_zipcode", "geolocation_lat": "customer_lat", "geolocation_lng": "customer_lng"})

In [23]:
for col in ord_datas.columns:
    nb_null = ord_datas[col].isnull().sum()
    if nb_null > 0:
        print(f"{col} => {nb_null} null")

delivering_time => 2979 null

In [24]:
ord_datas[ord_datas["delivering_time"].isnull()]

,order_id,order_purchase_timestamp,customer_unique_id,customer_state,order_status,delivering_time,delivered_before_time
6,136cce7faa42fdb2cefd53fdc79a6098,2017-04-11 12:22:08,36edbb3fb164b1f16485364b6fb04c73,RS,invoiced,NaN,False
44,ee64d42b8cf066f35eac1cf57de1aa85,2018-06-04 16:44:48,08fb46d35bb3ab4037202c23592d1259,SP,shipped,NaN,False
103,0760a852e4e9d89eb77bf631eaaf1c84,2018-08-03 17:44:42,c7f8d7b1fffc946d7069574f74c39f4e,SC,invoiced,NaN,False
128,15bed8e2fec7fdbadb186b57c46c92f2,2017-09-03 14:22:03,9f269af9c49244f6ba4a46985a3cfc2e,SP,processing,NaN,False
154,6942b8da583c2f9957e990d028607019,2018-01-10 11:33:07,528b011eb7fab3d59c336cc7248eed3a,MG,shipped,NaN,False
...,...,...,...,...,...,...,...
99283,3a3cddda5a7c27851bd96c3313412840,2018-08-31 16:13:44,e90598185d2427a35e32ef241a5c04aa,SP,canceled,NaN,False
99313,e9e64a17afa9653aacf2616d94c005b8,2018-01-05 23:07:24,965191786b70912f793e4a777fd623cd,SP,processing,NaN,False
99347,a89abace0dcc01eeb267a9660b5ac126,2018-09-06 18:45:47,d05c44a138277ad325d915c6b7ccbcdf,SP,canceled,NaN,False
99348,a69ba794cc7deb415c3e15a0a3877e69,2017-08-23 16:28:04,e72a90a2b29fe1a8795b284aaaa3246f,RJ,unavailable,NaN,False
99415,5fabc81b6322c8443648e1b21a6fef21,2017-10-10 10:50:03,393d95c05b04db26ac084374094b3a52,SP,unavailable,NaN,False

Comme je peux le constater, les valeurs nulles de "delivering_time" correspondent à des valeurs de "order_status" bien particulières que je vais traiter plus tard.

In [25]:
ord_datas.head()

,order_id,order_purchase_timestamp,customer_unique_id,customer_state,order_status,delivering_time,delivered_before_time
0,e481f51cbdc54678b7cc49136f2d6af7,2017-10-02 10:56:33,7c396fd4830fd04220f754e42b4e5bff,SP,delivered,8.0,True
1,53cdb2fc8bc7dce0b6741e2150273451,2018-07-24 20:41:37,af07308b275d755c9edb36a90c618231,BA,delivered,12.0,True
2,47770eb9100c2d0c44946d9cf07ec65d,2018-08-08 08:38:49,3a653a41f6f9fc3d2a113cf8398680e8,GO,delivered,9.0,True
3,949d5b44dbf5de918fe9c16f97b45f8a,2017-11-18 19:28:06,7c142cf63193a1473d2e66489a9ae977,RN,delivered,13.0,True
4,ad21c59c0840e6cb83a9ceb5573f8159,2018-02-13 21:18:39,72632f0f9dd73dfee390c9b22eb56dd6,SP,delivered,2.0,True

In [26]:
ord_datas.to_csv("POLIST_03_ord_datas.csv", index=False)
# zipcode_gps.to_csv("POLIST_03_zipcode_gps.csv", index=False)

C'est à peu près tout pour le moment pour ce sous-jeu de données

### Deuxième jeu de données

In [27]:
items_datas = order_items_datas.copy()
items_datas

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.90,13.29
1,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,2017-05-03 11:05:13,239.90,19.93
2,000229ec398224ef6ca0657da4fc703e,1,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,2018-01-18 14:48:30,199.00,17.87
3,00024acbcdf0a6daa1e931b038114c75,1,7634da152a4610f1595efa32f14722fc,9d7a1d34a5052409006425275ba1c2b4,2018-08-15 10:10:18,12.99,12.79
4,00042b26cf59d7ce69dfabb4e55b4fd9,1,ac6c3623068f30de03045865e4e10089,df560393f3a51e74553ab94004ba5c87,2017-02-13 13:57:51,199.90,18.14
...,...,...,...,...,...,...,...
112645,fffc94f6ce00a00581880bf54a75a037,1,4aa6014eceb682077f9dc4bffebc05b0,b8bc237ba3788b23da09c0f1f3a3288c,2018-05-02 04:11:01,299.99,43.41
112646,fffcd46ef2263f404302a634eb57f7eb,1,32e07fd915822b0765e448c4dd74c828,f3c38ab652836d21de61fb8314b69182,2018-07-20 04:31:48,350.00,36.53
112647,fffce4705a9662cd70adb13d4a31832d,1,72a30483855e2eafc67aee5dc2560482,c3cfdc648177fdbbbb35635a37472c53,2017-10-30 17:14:25,99.90,16.95
112648,fffe18544ffabc95dfada21779c9644f,1,9c422a519119dcad7575db5af1ba540e,2b3e4a2a3ea8e01938cabda2a3e5cc79,2017-08-21 00:04:32,55.99,8.72
112649,fffe41c64501cc87c801fd61db3f6244,1,350688d9dc1e75ff97be326363655e01,f7ccf836d21b2fb1de37564105216cc1,2018-06-12 17:10:13,43.00,12.79

Intéressons nous à la feature "product_id". Cette dernière peut être remplacée par la catégorie du produit (seule donnée pertinente du jeu). Pour un souci de lisibilité, les catégories vont être traduites en anglais.

Je vais aussi ajouter la longueur des descriptions et le nombre de photos par produit pour évaluer leurs pertinences.

In [28]:
prod_datas = products_datas.copy()
translation = pd.read_csv("product_category_name_translation.csv")
prod_datas

,product_id,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm
0,1e9e8ef04dbcff4541ed26657ea517e5,perfumaria,40.0,287.0,1.0,225.0,16.0,10.0,14.0
1,3aa071139cb16b67ca9e5dea641aaa2f,artes,44.0,276.0,1.0,1000.0,30.0,18.0,20.0
2,96bd76ec8810374ed1b65e291975717f,esporte_lazer,46.0,250.0,1.0,154.0,18.0,9.0,15.0
3,cef67bcfe19066a932b7673e239eb23d,bebes,27.0,261.0,1.0,371.0,26.0,4.0,26.0
4,9dc1a7de274444849c219cff195d0b71,utilidades_domesticas,37.0,402.0,4.0,625.0,20.0,17.0,13.0
...,...,...,...,...,...,...,...,...,...
32946,a0b7d5a992ccda646f2d34e418fff5a0,moveis_decoracao,45.0,67.0,2.0,12300.0,40.0,40.0,40.0
32947,bf4538d88321d0fd4412a93c974510e6,construcao_ferramentas_iluminacao,41.0,971.0,1.0,1700.0,16.0,19.0,16.0
32948,9a7c6041fa9592d9d9ef6cfe62a71f8c,cama_mesa_banho,50.0,799.0,1.0,1400.0,27.0,7.0,27.0
32949,83808703fc0706a22e264b9d75f04a2e,informatica_acessorios,60.0,156.0,2.0,700.0,31.0,13.0,20.0
32950,106392145fca363410d287a815be6de4,cama_mesa_banho,58.0,309.0,1.0,2083.0,12.0,2.0,7.0

In [29]:
prod_datas = prod_datas.merge(translation, how="left", on="product_category_name")

In [30]:
prod_datas.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32951 entries, 0 to 32950
Data columns (total 10 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   product_id                     32951 non-null  object
 1   product_category_name          32341 non-null  object
 2   product_name_lenght            32341 non-null  float64
 3   product_description_lenght     32341 non-null  float64
 4   product_photos_qty             32341 non-null  float64
 5   product_weight_g               32949 non-null  float64
 6   product_length_cm              32949 non-null  float64
 7   product_height_cm              32949 non-null  float64
 8   product_width_cm               32949 non-null  float64
 9   product_category_name_english  32328 non-null  object
dtypes: float64(7), object(3)
memory usage: 2.8+ MB

On peut voir que certaines catégories n'ont pas de traduction. 
Je vais trouver les catégories n'ayant pas de traductions, les traduire et inclure les traductions dans "product_category_name_english".

De même, certains produits n'ont pas de catégorie. Je vais donc leur attribuer la valeur "others"

In [31]:
no_transl = prod_datas[(prod_datas["product_category_name_english"].isnull()) & 
    (prod_datas["product_category_name"].notna())]["product_category_name"]

no_transl.unique()

array(['pc_gamer', 'portateis_cozinha_e_preparadores_de_alimentos'],
      dtype=object)

Traduction:
* "pc_gamer" est explicite et ne nécéssite pas d'être traduit
*  "portateis_cozinha_e_preparadores_de_alimentos" sera traduit par "kitchen_laptops_and_food_preparers"

In [32]:
no_transl = no_transl.replace("portateis_cozinha_e_preparadores_de_alimentos", "kitchen_laptops_and_food_preparers")
no_transl = pd.DataFrame(no_transl).rename(columns={no_transl.name: no_transl.name + "_english"})

In [33]:
prod_datas.loc[no_transl.index[:], no_transl.columns[0]] = no_transl

In [34]:
prod_datas.loc[no_transl.index[:], :]

,product_id,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm,product_category_name_english
1628,0105b5323d24fc655f73052694dbbb3a,pc_gamer,59.0,621.0,4.0,2839.0,19.0,16.0,18.0,pc_gamer
5821,6fd83eb3e0799b775e4f946bd66657c0,portateis_cozinha_e_preparadores_de_alimentos,52.0,280.0,1.0,1200.0,25.0,33.0,25.0,kitchen_laptops_and_food_preparers
7325,5d923ead886c44b86845f69e50520c3e,portateis_cozinha_e_preparadores_de_alimentos,58.0,284.0,1.0,1200.0,25.0,33.0,25.0,kitchen_laptops_and_food_preparers
7478,6727051471a0fc4a0e7737b57bff2549,pc_gamer,60.0,1532.0,3.0,650.0,16.0,22.0,20.0,pc_gamer
8819,bed164d9d628cf0593003389c535c6e0,portateis_cozinha_e_preparadores_de_alimentos,54.0,382.0,2.0,850.0,30.0,21.0,22.0,kitchen_laptops_and_food_preparers
11039,1220978a08a6b29a202bc015b18250e9,portateis_cozinha_e_preparadores_de_alimentos,46.0,280.0,1.0,1200.0,25.0,33.0,25.0,kitchen_laptops_and_food_preparers
14266,ae62bb0f95af63d64eae5f93dddea8d3,portateis_cozinha_e_preparadores_de_alimentos,59.0,927.0,1.0,10600.0,40.0,20.0,38.0,kitchen_laptops_and_food_preparers
16182,1954739d84629e7323a4295812a3e0ec,portateis_cozinha_e_preparadores_de_alimentos,58.0,792.0,4.0,750.0,30.0,30.0,30.0,kitchen_laptops_and_food_preparers
16930,dbe520fb381ad695a7e1f2807d20c765,pc_gamer,60.0,840.0,6.0,800.0,18.0,22.0,22.0,pc_gamer
17800,c7a3f1a7f9eef146cc499368b578b884,portateis_cozinha_e_preparadores_de_alimentos,52.0,1372.0,5.0,7350.0,40.0,30.0,23.0,kitchen_laptops_and_food_preparers
18610,7afdd65f79f63819ff5bee328843fa37,portateis_cozinha_e_preparadores_de_alimentos,48.0,305.0,1.0,750.0,20.0,20.0,20.0,kitchen_laptops_and_food_preparers
26890,a4756663d007b0cd1af865754d08d968,portateis_cozinha_e_preparadores_de_alimentos,60.0,1304.0,4.0,650.0,22.0,6.0,14.0,kitchen_laptops_and_food_preparers
29919,cb9d764f38ee4d0c00af64d5c388f837,portateis_cozinha_e_preparadores_de_alimentos,57.0,306.0,1.0,625.0,28.0,27.0,24.0,kitchen_laptops_and_food_preparers

In [35]:
prod_datas.loc[prod_datas["product_category_name_english"].isna(), "product_category_name_english"] = "others"

In [36]:
prod_datas.to_csv("POLIST_03_prod_datas.csv", index=False)

In [37]:
items_datas = items_datas.merge(prod_datas[["product_id", "product_category_name_english", "product_description_lenght", 
    "product_photos_qty"]], on="product_id")

In [38]:
items_datas.head()

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value,product_category_name_english,product_description_lenght,product_photos_qty
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.9,13.29,cool_stuff,598.0,4.0
1,130898c0987d1801452a8ed92a670612,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-07-05 02:44:11,55.9,17.96,cool_stuff,598.0,4.0
2,532ed5e14e24ae1f0d735b91524b98b9,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2018-05-23 10:56:25,64.9,18.33,cool_stuff,598.0,4.0
3,6f8c31653edb8c83e1a739408b5ff750,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-08-07 18:55:08,58.9,16.17,cool_stuff,598.0,4.0
4,7d19f4ef4d04461989632411b7e588b9,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-08-16 22:05:11,58.9,13.29,cool_stuff,598.0,4.0

De même, je peux remplacer "seller_id" par le zipcode et les coordonnées gps

In [39]:
items_datas.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 112650 entries, 0 to 112649
Data columns (total 10 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   order_id                       112650 non-null  object
 1   order_item_id                  112650 non-null  int64
 2   product_id                     112650 non-null  object
 3   seller_id                      112650 non-null  object
 4   shipping_limit_date            112650 non-null  datetime64[ns]
 5   price                          112650 non-null  float64
 6   freight_value                  112650 non-null  float64
 7   product_category_name_english  112650 non-null  object
 8   product_description_lenght     111047 non-null  float64
 9   product_photos_qty             111047 non-null  float64
dtypes: datetime64[ns](1), float64(4), int64(1), object(4)
memory usage: 9.5+ MB

In [40]:
sellers_datas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3095 entries, 0 to 3094
Data columns (total 4 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   seller_id               3095 non-null   object
 1   seller_zip_code_prefix  3095 non-null   int64
 2   seller_city             3095 non-null   object
 3   seller_state            3095 non-null   object
dtypes: int64(1), object(3)
memory usage: 96.8+ KB

In [41]:
items_datas = items_datas.merge(sellers_datas[["seller_id", "seller_zip_code_prefix"]], on="seller_id")
items_datas = items_datas.rename(columns={"seller_zip_code_prefix": "zipcode"})

In [42]:
items_datas = items_datas.merge(zipcode_gps[["zipcode", "geolocation_lat", "geolocation_lng"]], how="left", on="zipcode")

NameError: name 'zipcode_gps' is not defined

In [ ]:
items_datas = items_datas.rename(columns={"zipcode": "seller_zipcode", "geolocation_lat": "seller_lat", "geolocation_lng": "seller_lng"})

In [ ]:
items_datas.head()

Je peux droper les features "product_id", "seller_id" et "shipping_limit_date" et réorganiser les colonnes

In [ ]:
items_datas = items_datas.drop(columns=["product_id", "seller_id", "shipping_limit_date"])

cols = items_datas.columns.tolist()
cols = cols[:2] + cols[-6: -3] + cols[2:4] + cols[-3:]
items_datas = items_datas[cols]

In [ ]:
items_datas

### Réunion des deux jeux de données crées

Je peux réunir les deux jeux de données créés en un seul. Il faut néanmoins définir dans quel sens faire l'intégration.

In [ ]:
ord_datas.info()

In [ ]:
items_datas.info()

"items_datas" possède plus d'individus que "ord_datas" ce qui laisse présager que certains commandes contiennent plusieurs articles.

Je vais donc intégrer "ord_datas" à "items_datas" pour perdre le moins de données possibles.

In [ ]:
datas = ord_datas.merge(items_datas, how="right", on="order_id")

In [ ]:
datas.info()

Il y a une augmentation du nombre d'individus que je n'explique pas dans l'immédiat.
Je sais que:
1. Il existe des doublons de "order_id" dans "items_datas" vu qu'une commande peut avoir plusieurs produits
2. Il ne devrait pas y avoir de doublons de "order_id" dans "ord_datas" étant donné que chaque commande est unique.

Je vais vérifier le point 2.

Ce point a été vérifié et comme vu plus haut, il s'avère qu'il y a des doublons de la feature "order_id" dans "ord_datas" dûs à l'agrégation avec le jeux de données "order_reviews_datas" qui contient lui-même des doublons que j'ai gardés car il y a parfois plusieurs commentaires pour une commande. Je dois donc maintenant extraire ces doublons de mon jeu de données ou au moins les expliquer.

In [ ]:
print(f"Il y a {datas.duplicated().sum()} individus dupliqués")

In [ ]:
test_1 = datas.loc[datas["order_id"] == datas["order_id"].value_counts().reset_index().iloc[0,0], :]

test_1

In [ ]:
test_2 = items_datas.loc[items_datas["order_id"] == datas["order_id"].value_counts().reset_index().iloc[0,0], :]

test_2

In [ ]:
test_3 = ord_datas.loc[ord_datas["order_id"] == datas["order_id"].value_counts().reset_index().iloc[0,0], :]

test_3

On peut voir sur cet exemple que cette commande comporte initialement deux commentaires distincts et onze produits. La réunion des deux jeux double les produits dans le résultat ce qui est logique vu qu'à chaque produit unique est associé deux commentaires.

Voyons si on peut réarranger les produits et/ou les avis clients.

En regardant les résultats précédents, je me rends compte que chaque produit est identifié de manière unique. Approfondissons en regardant une commande avec plusieurs articles.

In [ ]:
items_uniq_ord = items_datas["order_id"].value_counts().reset_index()
items_uniq_ord = items_uniq_ord[items_uniq_ord["order_id"] > 1]
items_uniq_categ = items_datas["product_category_name_english"].unique()

for i in range(len(items_uniq_ord)):
    print(items_datas.loc[items_datas["order_id"] == items_uniq_ord.iloc[i, 0], items_datas.columns[[1,2,5,7]]])
    break

In [ ]:
liste = [10,10,10,30,30,60]

sigma = np.std(liste, ddof=0)
nu = np.mean(liste)

print("moy: ", nu)
print("ectt: ", np.round(sigma, 3))

In [ ]:
x = range(-10,100)

plt.plot([i for i in x if i >= nu], [(1/ (sigma * np.sqrt(2 * np.pi)) * np.exp((-1/2) * ((i - nu) / sigma)**2)) for i in x if i >= nu])
plt.plot([i for i in x if i <= nu], [(1/ (sigma * np.sqrt(2 * np.pi)) * np.exp((-1/2) * ((i - nu)*3 / nu)**2)) for i in x if i <= nu])
plt.show()

In [ ]:
from scipy.stats import norm

for n in set(liste):
    if n < nu:
        print(f"P({n}) => {np.round(norm.cdf(n, loc= nu, scale= nu/3), 3)}")
    else:
        print(f"P({n}) => {np.round(norm.cdf(n, loc= nu, scale= sigma), 3)}")

À première vue, je vois qu'il est possible de réduire les individus d'une commande en fonction du produit mais aussi en fonction de la catégorie et pondérer l'article sur la commande. Cela devrait me permettre de limiter les doublons de même que la pondération peut permettre d'estimer l'impact des produits sur les avis.

Le but est de trouver une formule prenant en compte le prix des produits et leur quantité.

Hypothèse de formule pour la pondération:
* utilisation de la fonction cumulative de la distribution normale $f(PX)$ sur les prix uniques $PX = px_1, px_2, \dots, px_n$
  * $f(PX) \in R^+$ avec:
    * $f(PX) = Norm(\nu, \frac{\nu}{3})$ sur $(0, \nu)$
    * $f(PX) = Norm(\nu, \sigma)$ sur $(\nu, +\infty)$
* calcul de la proportion de chaque produit par rapport au nombre total de produits de la commande => $PC = pc_1,pc_2, \dots,pc_n$
* Le poids de chaque produit est calculé par:
    $W = \displaystyle \frac{(f(px_i) + 0.5) * (pc_i + 0.5)}{\sum_{i=1}^{n} (f(px_i) + 0.5) * (pc_i + 0.5)}$

In [ ]:
import pprint

def calc(prix):
    nu = np.mean(prix)
    sigma = np.std(prix, ddof=0)
    
    px_unique = sorted(set(prix))
    p_norm = {}
    if len(px_unique) > 1:
        for n in px_unique:
            if n < nu:
                p_norm[n] = np.round(norm.cdf(n, loc= nu, scale= nu/3), 5) + 0.5
            else:
                p_norm[n] = np.round(norm.cdf(n, loc= nu, scale= sigma), 5) + 0.5
    else:
        p_norm[px_unique[0]] = 1

    nb_prix_diff = {i: prix.count(i) for i in prix}
    
    ### H5 (+0.5, +0.5)
    perc = {}
    for k, v in nb_prix_diff.items():
        perc[k] = np.round(v / len(prix), 5) + 0.5

    tmp_calc = {}
    for px in px_unique:
        tmp_calc[px] = np.round(p_norm[px] * perc[px], 5)

    somme = np.round(sum(list(tmp_calc.values())), 5)
    resultH5 = {}
    for px in px_unique:
        resultH5[px] = {}
        resultH5[px]["nb article"] = nb_prix_diff[px]
        resultH5[px]["poids"] = np.round(tmp_calc[px] / somme, 5)
        resultH5[px]["poids/article"] = np.round(resultH5[px]["poids"] / nb_prix_diff[px], 5)

    print("H5 (+0.5, +0.5)")
    pprint.pprint(resultH5)

In [ ]:
calc(liste)

In [ ]:
calc([10, 10, 10, 10,10, 10, 10, 10, 200, 60, 60, 100, 30])

In [ ]:
calc([50])

Je vais retravailler le premier jeu de données en retirant l'ajout de "order_reviews_datas" pour le moment et le sauvegarder.

Quant au second, je vais le revoir entièrement en prenant en compte les hypothèses citées plus haut.